[Unit]
Description=THG Sink service
After=network.target

[Service]
ExecStart=/usr/local/sink/sink.sh
Type=exec
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
